body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body.light-mode {
    background-color: white;
}

body.dark-mode {
    background-color: black;
}

#theme-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#svg-container {
    margin-bottom: 20px;
    padding: 20px;
    overflow: scroll;
}

#controls-section {
    position: sticky;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color-palette {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: auto;
}

.color-option {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 20px;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#reset-btn {
    background-color: #000;
}

#print-btn {
    background-color: #a2cb1b;
    color: #000;
}

#export-btn {
    background-color: #126c68;
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#color-palette-input {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0;
}