body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#svg-container {
    margin-bottom: 20px;
    padding: 20px;
}

.color-palette {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.color-option {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 20px;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#reset-btn {
    background-color: #000;
}

#print-btn {
    background-color: #a2cb1b;
    color: #000;
}

#export-btn {
    background-color: #126c68;
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}